PORT=5000
MONGO_URI=mongodb+srv://<db_user>:<db_password>@fraudsys.fiebner.mongodb.net/authsentinel?appName=authsentinel
JWT_SECRET=your_generated_jwt_secret_here
JWT_EXPIRES_IN=7d
TOTP_SECRET_KEY=your_generated_totp_secret_here
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
NODE_ENV=development
